@model IndexModel
@using WeddingShare.Views.Admin
@using WeddingShare.Views.Admin.Tabs

<section class="nav-border-bottom pb-0 pb-lg-0">
    <div class="container px-3 px-lg-1 my-3 my-lg-4">
        <div class="row">
            <div class="col-12">
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="pnl-selector nav-link" href="#" data-tab="reviews">Review</a>
                    </li>
                    <li class="nav-item">
                        <a class="pnl-selector nav-link" href="#" data-tab="galleries">Galleries</a>
                    </li>
                    <li class="nav-item">
                        <a class="pnl-selector nav-link" href="#" data-tab="users">Users</a>
                    </li>
                    <li class="nav-item">
                        <a class="pnl-selector nav-link" href="#" data-tab="settings">Settings</a>
                    </li>
                    <li class="nav-item">
                        <a class="pnl-selector nav-link" href="#" data-tab="data">Data</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>

<partial name="~/Views/Admin/Tabs/Reviews.cshtml" model="new ReviewsModel() { PendingRequests = Model?.PendingRequests }" />
<partial name="~/Views/Admin/Tabs/Users.cshtml" model="new UsersModel() { Users = Model?.Users }" />
<partial name="~/Views/Admin/Tabs/Galleries.cshtml" model="new GalleriesModel() { Galleries = Model?.Galleries }" />
<partial name="~/Views/Admin/Tabs/Settings.cshtml" model="new SettingsModel() { Settings = Model?.Settings }" />
<partial name="~/Views/Admin/Tabs/Data.cshtml" model="new DataModel()" />

<script src="~/js/admin.js" asp-append-version="true"></script>