@model WeddingShare.Models.PhotoGallery

<!-- Header-->
<header class="bg-dark py-1 py-lg-5">
    <div class="container px-0 px-lg-2">
        <div class="text-center text-white">
            <partial name="~/Views/Shared/_FileUpload.cshtml" model="null" />
        </div>
    </div>
</header>

<section class="py-1 py-lg-5">
    <div class="container px-3 px-lg-1 mt-3 mt-lg-1">
        <partial name="~/Views/Shared/_PhotoGallery.cshtml" model="Model" />
    </div>
</section>