@model WeddingShare.Models.PhotoGallery
@{
    ViewData["Title"] = "Home Page";
}

<section class="py-5">
    <div class="container px-1 px-lg-1 mt-5">
        <partial name="~/Views/Shared/_PhotoGallery.cshtml" model="Model" />
    </div>
</section>