@{
    ViewData["Title"] = "Home Page";
}

<section class="py-5">
    <div class="container px-1 px-lg-1 mt-5">
        <div class="row gx-5 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            @for (var i = 0; i < 8; i++)
            {
                <div class="col mb-5">
                    <div class="gallery-tile">
                        <img class="card-img" src="~/images/gallery-image-003.png" alt="..." />
                    </div>
                </div>
            }
        </div>
    </div>
</section>