################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/WeddingShare/.vs/WeddingShare
/WeddingShare/WeddingShare/bin/Debug/net8.0
/WeddingShare/WeddingShare/obj
*.user
