################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

**/.vs
*.user
**/bin
**/obj
/WeddingShare/WeddingShare/wwwroot/gallery/**/*
/WeddingShare/WeddingShare/appsettings.Development.json
/WeddingShare/WeddingShare/appsettings.Production.json
/WeddingShare/WeddingShare/appsettings.Development.json
/WeddingShare/appsettings.Development.json
/WeddingShare/wwwroot/gallery
