################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
*.user
/WeddingShare/.vs/WeddingShare
/WeddingShare/WeddingShare/bin/Debug/net8.0
/WeddingShare/WeddingShare/obj
/WeddingShare/WeddingShare/wwwroot/gallery/**/*
