@using WeddingShare.Views.Shared

<div id="alert-message-modal" class="modal pt-lg-4" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">@_localizer["Default"].Value</h5>
            </div>
            <div class="modal-body modal-message"></div>
            <div class="modal-body modal-error" display="none"></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary btn-reload" data-dismiss="modal">@_localizer["Close"].Value</button>
            </div>
        </div>
    </div>
</div>