#main-wrapper {
  position: relative;
  top: 75px;
}

.gallery-container {
    position: relative;
}

/* File Upload */
.upload_drop {
    color: #FFFFFF;
    outline: 2px dashed #FFFFFF;
    outline-offset: -12px;
    transition: outline-offset 0.2s ease-out, outline-color 0.3s ease-in-out, background-color 0.2s ease-out;
    border-radius: 20px;
    cursor: pointer;
}

    .upload_drop.highlight {
        outline-offset: -4px;
        outline-color: #FFFFFF;
    }

.upload_svg {
    fill: #FFFFFF;
}

.btn-upload {
    background-color: #FFFFFF;
}

    .btn-upload:hover, .btn-upload:focus {
        color: #FFFFFF;
        background-color: #ff7563;
    }

.qrcode-container {
    position: absolute;
    top: 0px;
    right: -300px;
}

    .qrcode-container span {
        display: block;
        text-align: center;
        font-size: 1.5rem;
        font-weight: bold;
    }