.gallery-tile {
    height: 150px;
    position: relative;
    overflow: hidden;
    display: inline-block;
}

    .gallery-tile.card-img {
        position: absolute;
        left: 50%;
        top: 50%;
        width: 100%;
        height: auto;
        -webkit-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
        transform: translate(-50%,-50%);
    }