@model WeddingShare.Models.PhotoGallery

@if (Model?.FileUploader != null)
{
    <header class="bg-dark py-1 py-lg-5">
        <div class="container px-0 px-lg-2">
            <partial name="~/Views/Shared/_FileUpload.cshtml" model="Model.FileUploader" />
        </div>
    </header>
}

<section class="py-1 py-lg-5">
    <div class="container px-3 px-lg-1 my-3 mt-lg-1" style="position: relative;">
        <div class="qrcode-container d-none d-lg-block">
            <div id="qrcode"></div>
            <span>Share Code</span>
        </div>
        <script>
            document.addEventListener('DOMContentLoaded', function () { 
                $(function () { 
                    $('#qrcode').qrcode({ width: 150, height: 150, text: window.location.href });
                });
            }, false);
        </script>
        <partial name="~/Views/Shared/_PhotoGallery.cshtml" model="Model" />
    </div>
</section>