@model WeddingShare.Models.PhotoGallery
@using WeddingShare.Enums
@using WeddingShare.Helpers
@using WeddingShare.Views.Gallery
@inject WeddingShare.Helpers.IConfigHelper _config
@inject WeddingShare.Helpers.IGalleryHelper _gallery
@inject WeddingShare.Helpers.IUrlHelper _url

@{
    ViewBag.QRCodeLink = _url.GenerateFullUrl(Context.Request, Context.Request.Path, null, _config.GetOrDefault("Hide_Key_From_QR_Code", false) ? new List<string>() { "key", "enc" } : null);
}

@if (Model?.FileUploader != null && Model.ViewMode != ViewMode.Presentation && Model.ViewMode != ViewMode.Slideshow)
{
    <partial name="~/Views/Shared/_FileUpload.cshtml" model="Model.FileUploader" />
}

<section class="py-1 py-lg-4 gallery-container">
    <div class="row mt-3 mt-lg-0">
        @if (_gallery.GetConfig(Model?.GalleryName, "Gallery:Full_Width", false))
        {
            <div class="col-12 px-3 px-lg-5">
                <partial name="~/Views/Gallery/GalleryWrapper.cshtml" model="Model" />
            </div>
        }
        else
        {
            <div class="col-2 d-none d-lg-block"></div>
            <div id="main-gallery" class="col-12 col-lg-8 px-3 px-lg-1">
                <partial name="~/Views/Gallery/GalleryWrapper.cshtml" model="Model" />
            </div>
            <div class="col-2 d-none d-lg-block pt-3">
                <partial name="~/Views/Gallery/GalleryOptions.cshtml" model="Model" />
            </div>
        }
    </div>
</section>

<script src="~/js/gallery.js" asp-append-version="true"></script>