@model WeddingShare.Models.PhotoGallery
@using WeddingShare.Constants
@using WeddingShare.Enums
@using WeddingShare.Helpers
@using WeddingShare.Views.Gallery
@inject WeddingShare.Helpers.IUrlHelper _url

@{
    var qrAppend = new List<KeyValuePair<string, string>>();

    var qrDefaultView = await _settings.GetOrDefault(Settings.Gallery.QRCode.DefaultView, string.Empty, Model?.GalleryName);
    if (!string.IsNullOrWhiteSpace(qrDefaultView))
    {
        qrAppend.Add(new KeyValuePair<string, string>("mode", qrDefaultView));
    }

    var qrDefaultOrder = await _settings.GetOrDefault(Settings.Gallery.QRCode.DefaultSort, string.Empty, Model?.GalleryName);
    if (!string.IsNullOrWhiteSpace(qrDefaultOrder))
    {
        qrAppend.Add(new KeyValuePair<string, string>("order", qrDefaultOrder));
    }

    var qrExclude = new List<string>();
    if (await _settings.GetOrDefault(Settings.Basic.HideKeyFromQRCode, false))
    {
        qrExclude.Add("key");
        qrExclude.Add("enc");
    }

    ViewBag.QRCodeLink = _url.GenerateFullUrl(Context.Request, Context.Request.Path, qrAppend, qrExclude);
}

@if (Model?.FileUploader != null && Model.ViewMode != ViewMode.Presentation && Model.ViewMode != ViewMode.Slideshow)
{
    <partial name="~/Views/Shared/_FileUpload.cshtml" model="Model.FileUploader" />
}

<section class="py-1 py-lg-4">
    <div class="row mt-3 mt-lg-0">
        @if (await _settings.GetOrDefault(Settings.Gallery.FullWidth, false, Model?.GalleryName))
        {
            <div id="main-gallery" class="col-12 px-3 px-lg-5">
                <partial name="~/Views/Gallery/GalleryWrapper.cshtml" model="Model" />
            </div>
        }
        else
        {
            <div class="col-12 col-lg-2 d-none d-lg-block"></div>
            <div id="main-gallery" class="col-12 col-lg-8 px-3 px-lg-1">
                <partial name="~/Views/Gallery/GalleryWrapper.cshtml" model="Model" />
            </div>
            <div class="col-12 col-lg-2 d-lg-block pt-0 pt-lg-0">
                <partial name="~/Views/Gallery/GalleryOptions.cshtml" model="Model" />
            </div>
        }
    </div>
</section>

<script src="~/js/gallery.js" asp-append-version="true"></script>