@using WeddingShare.Enums
@using WeddingShare.Helpers
@using WeddingShare.Views.Gallery
@inject Microsoft.Extensions.Localization.IStringLocalizer<IndexModel> _localizer
@inject WeddingShare.Helpers.IConfigHelper _config
@model WeddingShare.Models.PhotoGallery

@{
    var ctx = Context.Request;
    var baseLink = UrlHelper.Generate(ctx, _config, ctx.Path);

    var queryString = new System.Text.StringBuilder();
    foreach (var q in ctx.Query.Where(x => !string.Equals("order", x.Key, StringComparison.OrdinalIgnoreCase)))
    {
        if (string.Equals("key", q.Key, StringComparison.OrdinalIgnoreCase) && _config.GetOrDefault("Settings", "Hide_Key_From_QR_Code", false))
        {
            continue;
        }
        else if (string.Equals("order", q.Key, StringComparison.OrdinalIgnoreCase) || string.Equals("mode", q.Key, StringComparison.OrdinalIgnoreCase))
        {
            continue;
        }

        queryString.Append($"&{q.Key}={q.Value}");
    }

    ViewBag.BaseLink = $"{baseLink}?{queryString.ToString().TrimStart('&')}".TrimEnd(new char[] { '?', '&' });
    ViewBag.QRCodeLink = $"{ViewBag.BaseLink}{(ctx.Query.ContainsKey("order") ? $"{(ViewBag.BaseLink.Contains("?") ? "&" : "?")}order={ctx.Query["order"]}" : string.Empty)}";
}

@if (Model?.FileUploader != null && Model.ViewMode != ViewMode.Presentation && Model.ViewMode != ViewMode.Slideshow)
{
    <partial name="~/Views/Shared/_FileUpload.cshtml" model="Model.FileUploader" />
}

<section class="py-1 py-lg-4 gallery-container">
    <div class="row mt-3 mt-lg-0">
        @if (_config.GetOrDefault("Settings", "Full_Width_Gallery", false))
        {
            <div class="col-12 px-3 px-lg-5">
                <partial name="~/Views/Gallery/GalleryWrapper.cshtml" model="Model" />
            </div>
        }
        else
        {
            <div class="col-2 d-none d-lg-block"></div>
            <div class="col-12 col-lg-8 px-3 px-lg-1">
                <partial name="~/Views/Gallery/GalleryWrapper.cshtml" model="Model" />
            </div>
            <div class="col-2 d-none d-lg-block pt-3">
                <partial name="~/Views/Gallery/GalleryOptions.cshtml" model="Model" />
            </div>
        }
    </div>
</section>

<script src="~/js/gallery.js" asp-append-version="true"></script>