@model GalleriesModel
@using WeddingShare.Constants
@using WeddingShare.Helpers
@using WeddingShare.Views.Admin.Tabs

<section class="pnl-admin pnl-admin-galleries pb-0 pb-lg-4 d-none">
    <div class="container px-3 px-lg-1 my-3 my-lg-0">
        <div class="row">
            <div class="col-12">
                <h1 class="display-6">@_localizer["Galleries"].Value
                    @if (!await _settings.GetOrDefault(Settings.Basic.SingleGalleryMode, false))
                    {
                        <span class="header-actions">
                            <span class="action text-success pointer">
                                <i class="btnAddGallery fa-solid fa-calendar-plus" alt="@_localizer["Create"].Value"></i>
                                <span>@_localizer["Create"].Value</span>
                            </span>
                        </span>
                    }
                </h1>
            </div>
        </div>
        <div class="row">
            <div id="galleries-list" class="col-12">
                <partial name="~/Views/Admin/GalleriesList.cshtml" model="Model?.Galleries" />
            </div>
        </div>
    </div>
</section>